.button {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: @white-color;
  background-color: @blue-background;
  text-transform: uppercase;
  border: none;
  padding: 16px 49px;
}
