.copyright {
  text-align: center;
  padding-bottom: 23px;

  @media (min-width: @tablet-width) {
    display: flex;
    }
}

.copyright__text {
  font-weight: 400;
  text-transform: uppercase;
}

.copyright__link {
  &:hover {
    color: @blue-background;
  }
  &:active {
    color: @active-color-copyright;
  }
}
.copyright__icon {
  vertical-align: middle;
}
