.copyright {
  text-align: center;
  padding-bottom: 14px;

  @media (min-width: @tablet-width) {
    text-align: start;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 53px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 136px;
  }
}
