.main-nav {
  font-weight: 700;
  line-height: 26px;
  font-size: 18px;
  position: relative;
  width: auto;
  min-height: 56px;

  @media (max-width: @mobile-width-only) {
    z-index: 2;
  }

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 21px;
  }
}
