.page {
  height: 100%;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: #F2F2F2;

 @media(min-width: @desktop-width) {
   padding: 0 40px;
  }
}

.body-container {
background-color: #ffffff;

 @media(min-width: @desktop-width) {
  box-shadow: -5px 0 10px 2px rgba(221, 221, 221, 1), 5px 0 10px 2px rgba(221, 221, 221, 1);
 }
}
