.catalog {
  text-transform: uppercase;
  padding: 39px 20px 17px 20px;

  @media (min-width: @tablet-width) {
    padding: 66px 0;
  }

  @media (min-width: @desktop-width) {
    padding: 100px 0;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.catalog__title {
  font-size: 18px;
  text-align: center;
  margin: 0;
}

.catalog__description {
  text-align: center;
  margin: 0;
  padding-top: 29px;
  padding-bottom: 35px;

  @media (max-width: @mobile-width-only) {
    br {
      display: none;
    }
  }
}
