.catalog {
  text-transform: uppercase;
  padding: 39px 20px 17px 20px;

  @media (min-width: @tablet-width) {
    padding: 66px 0 0 0;
  }

  @media (min-width: @desktop-width) {
    padding: 100px 0 0 0;
  }
}
