.catalog-container {
  @media (min-width: @tablet-width) {
    padding: 81px 60px 60px 60px;
    display: flex;
  }

  @media (min-width: @desktop-width) {
    padding: 89px 0 60px 0;
    display: flex;
  }
}
