.catalog-card {
  padding-top: 26px;
  padding-bottom: 25px;

  img {
    @media (min-width: @tablet-width) {
      height: 267px;
      width: 100%;
    }
  }

  @media (min-width: @tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.catalog-card--first-card {
  @media (min-width: @tablet-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  @media (min-width: @desktop-width) {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  img {
    @media (min-width: @tablet-width) {
      height: 400px;
      width: 100%;
    }
  }
}
