.catalog-container {
  &::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 320px;
    bottom: -70px;
    left: 0;
    background-color: @disabled-color;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 60px;
    display: flex;
  }

  @media (min-width: @desktop-width) {
    padding: 60px 0;
    display: flex;
  }
}

.catalog-card__container {
  padding-top: 24px;
  padding-bottom: 25px;
  line-height: 21px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    height: 1px;
    width: 320px;
    bottom: 0;
    left: -20px;
    background-color: @disabled-color;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    background-color: @body-background;
    display: grid;
  }
}

.catalog-card__container--first-card {
  @media (min-width: @tablet-width) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
  }
}

.catalog-card__container--north-road {
  @media (min-width: @tablet-width) {
    background-color: @background-color-card-road;
  }
}

.catalog-card {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog-card__first-card {
  @media (min-width: @tablet-width) {
    flex-basis: 100%;
  }

  @media (min-width: @desktop-width) {
    flex-basis: 100%;
  }
}

.catalog-card__link--title {
  @media (min-width: @tablet-width) {
  grid-column: 1 / 2;
  }
}

.catalog-card__title {
  margin: 0;
  padding-top: 15px;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    padding-top: 22px;
    padding-bottom: 10px;
  }
}
.catalog-card__image {
  display: block;
  margin: 0 auto;
}

.catalog-card__author {
  margin: 0;
  padding-bottom: 16px;
  text-transform: none;
  color: @brown-text;
}

.catalog-card__author--first-card {
  @media (min-width: @tablet-width) {
    grid-column: 1 / 2;
  }
}

.catalog-card__likes {
  position: relative;
  padding-left: 37px;
  font-weight: 700;

  &::before {
    position: absolute;
    content: "";
    width: 23px;
    height: 21px;
    left: 0;
    top: -6px;
    background-image: url("../images/catalog/like-icon.svg");
  }
}

.catalog-card__likes--first-card {
  @media (min-width: @tablet-width) {
   grid-column: 2 / 3;
   grid-row: 2 / 3;
   display: flex;
   justify-content: end;

    &::before {
     left: 220px;
    }
  }
}
