.index-hero {
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/index/index-hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.index-hero__text-img {
  display: block;
  margin: 0 auto;
}

