.main-footer {
  padding-top: 36px;
  padding-bottom: 36px;

  @media (min-width: @tablet-width) {
    padding-top: 40px;
  }
}

.main-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
  }
}
