.search__wrapper {
  text-transform: uppercase;
  text-align: center;
  padding: 38px 18px 49px 18px;
}

.search__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.search__description {
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  color: @brown-text;
}

.search__button {
  padding: 16px 37px;
  }
