.search__wrapper {
  text-transform: uppercase;
  text-align: center;
}

.search__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.search__description {
  color: @brown-text;
}
