.rewiew-hero {
  color: @white-color;
  background-color: @black-color;
  background-image: url("../images/catalog-form-hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.rewiew-hero__text-img {
  display: block;
  margin: 0 auto;
}
