.rewiew-footer {
  padding-top: 36px;
  padding-bottom: 36px;

  @media (min-width: @tablet-width) {
    padding-top: 79px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 40px;
  }
}

.rewiew-footer__wrapper {
  @media (min-width: @tablet-width) {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
  }
}

.rewiew-footer__copyright {
  @media (min-width: @tablet-width) {
    padding-left: 70px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 150px;
  }
}
